* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  position: relative;
}

nav {
  background: black;
  border-bottom: 1px solid red;
}

.fas.fa-bars {
  color: white;
}

.collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 0;
  text-align: center;
}

.navbar .collapse .nav-link {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -webkit-transition: color .3s;
  transition: color .3s;
}

.navbar .collapse .nav-link:hover {
  color: red;
}

.shadow-bg {
  background-color: rgba(0, 0, 0, 0.7);
  -webkit-transition: .3s;
  transition: .3s;
}

.hero-shadow {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.wrapper {
  height: 100%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  background-image: url("/img/header3.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 10;
}

.baner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

.baner h1 {
  font-size: 45px;
}

.baner .options {
  padding-top: 30px;
}

.baner .options button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 250px;
  padding: 10px;
  margin: 15px 0;
  border: 1px solid red;
  border-radius: 5px;
  text-transform: uppercase;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: .3s;
  transition: .3s;
}

.baner .options button:hover {
  color: #e91919;
  background-color: black;
}

.hidden {
  font-size: 0;
}

.special {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 40px 0;
}

.products-box {
  width: 100%;
}

.walpapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 350px;
  margin-bottom: 30px;
  border: 1px solid #a59292;
  background-position: center;
  background-size: cover;
  -webkit-transition: .3s;
  transition: .3s;
}

.walpapper .product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.walpapper .product .product-name {
  margin-bottom: 5px;
  color: white;
}

.walpapper .product .price {
  margin-bottom: 5px;
  color: white;
}

.walpapper .product button {
  width: 90%;
  text-transform: uppercase;
  font-weight: 500;
  color: white;
  background-color: #e91919;
}

.walpapper .product button:hover {
  background-color: #8b0101;
  border: none;
}

.img-1 {
  background-image: url("/menu.img/coffee-2589760_1280.jpg");
}

.img-2 {
  background-image: url("/menu.img/cake-3988999_1280.jpg");
}

.img-3 {
  background-image: url("/menu.img/hot-chocolate-1137641_1280.jpg");
}

.img-4 {
  background-image: url("/menu.img/eclair-3366437_1920.jpg");
}

.informations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.informations a {
  color: black;
  font-size: 14px;
}
/*# sourceMappingURL=main.css.map */