header{
    height: 60vh;
}

nav {
    background: transparent;
}

.collapse {
    display: flex;
    justify-content: flex-end;
    padding: 0;
}

.walpapper:hover{
    transform: scale(1.1);
}

.wrapper{
    width: 75%;
}

@media (min-width:1400px) {
    .wrapper{
        max-width: 60%;
    }
 }

.products-box{
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 25px;
}

