* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    position: relative;
}

nav {
    background: rgb(0, 0, 0);
    border-bottom: 1px solid red;
}

.fas.fa-bars{
    color: white;
}

.collapse{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0;
    text-align: center;
}

.navbar{
    .collapse .nav-link {
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        transition: color .3s;
    }
    
    .collapse .nav-link:hover{
        color: red;
    }
}

.shadow-bg {
    background-color: rgba(0, 0, 0, .7);
    transition: .3s;
}

.hero-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}

.wrapper {
    height: 100%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('/img/header3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
}

.baner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.baner {

    h1{
        font-size: 45px;
    }

    .options{
        padding-top: 30px;
    }

    .options button {
        display: flex;
        justify-content: center;
        width: 250px;
        padding: 10px;
        margin: 15px 0;
        border: 1px solid red;
        border-radius: 5px;
        text-transform: uppercase;
        color: white;
        background-color: rgba(0, 0, 0, .5);
        transition: .3s;
    }

    .options button:hover {
        color:#cbd3da;
        background-color: rgba(0, 0, 0, .7);
    }
}

.hidden {
    font-size: 0;
}

.about{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.products-box{
    width: 100%;
}

.walpapper{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 350px;
    margin-bottom: 30px;
    border: 1px solid rgb(165, 146, 146);
    background-position: center;
    background-size: cover;
    transition: .3s;

    .product{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);

        .product-name{
            margin-bottom: 5px;
            color: white;
        }

        .price{
            margin-bottom: 5px;
            color: white;
        }

        button{
            width: 90%;
            text-transform: uppercase;
            font-weight: 500;
            color: white;
        }
    }
}

.img-1{
    background-image: url('/menu.img/coffee-2589760_1280.jpg');
}

.img-2{
    background-image: url('/menu.img/cake-3988999_1280.jpg');
}

.img-3{
    background-image: url('/menu.img/hot-chocolate-1137641_1280.jpg');
}

.img-4{
    background-image: url('/menu.img/eclair-3366437_1920.jpg');
}

