* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    width: 100%;
}

.navbar-toggler-icon{
    color: white;
}

.hero-shadow {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .4);
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('/img/header3.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    z-index: 10;
}

.navbar-brand {
    font-size: 26px;
}

.wrapper {
    height: 100%;
    width: 90%;
    display: flex;
}

.baner {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.baner {
    .options button {
        padding: 10px;
        margin: 0 10px;
        border: 1px solid white;
        border-radius: 5px;
        text-transform: uppercase;
        color: white;
        background-color: transparent;
        transition: .3s;
    }

    .options button:hover {
        color: black;
        background-color:white;
    }
}


.about {
    height: 500px;
}

.collapse {
    display: flex;
    justify-content: flex-end;
}

.collapse .nav-link {
    font-size: 24px;
    color: white !important;
}