.options{
    display: flex;
    flex-direction: row;
    padding-top: 20px;

    button{
        width: 200px!important;
        margin-left: 20px!important;
    }
}

.products-box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8px;
}

.walpapper{
    margin-bottom: 0;
}